<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div>
        <h3>{{.Name}}</h3>
        {{range .Users}}
            {{ if ne .Sudo true }}
                <p>{{.Name}}: Sudo:<input id="checkbox" type="checkbox" value="sudo" checked="checked"/></p>
            {{else}}
                <p>{{.Name}}: Sudo:<input id="checkbox" type="checkbox" value="sudo"/></p>
            {{end}}
        {{end}}
    </div>
    <div>
        <h3>UserAdd</h3>
        <p>
            <form action="/useradd" method="post">
                <input type="text" name="userlist" placeholder="username"/></br>
                <input type="submit" value="送信"/></br>
            </form>
        </p>
    </div>
    <div>
        <h3>UserDel</h3>
        <p>
        <form action="/userdel" method="post">
            <input type="text" name="userlist" placeholder="username"/></br>
            <input type="submit" value="送信"/></br>
        </form>
        </p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(function () {
            // ［検索］ボタンクリックで検索開始
            $('#checkbox').click(function () {
                $.ajax('/authadd',
                        {
                            type: 'post',
                            data: {username: 'katsukamaru'},
                            dataType: 'json'
                        }
                ).done(function (data) {
                    window.alert('OK');
                });
            });
        });
    </script>
</body>
</html>