<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div>
        <h3>UserList</h3>
        <h4>{{.Name}}</h4>
        {{range .Users}}
        {{ if eq .Sudo true }}
            <p>{{.Name}}: Sudo:<input id="checkbox" class="user" type="checkbox" value="sudo" checked="checked"/></p>
            {{else}}
                <p>{{.Name}}: Sudo:<input id="checkbox" class="user" type="checkbox" value="sudo"/></p>
            {{end}}
        {{end}}
    </div>
    <div>
        <h3>UserAdd</h3>
        <p>
            <form action="/useradd" method="post">
                <input type="text" name="userlist" placeholder="username"/></br>
                <input type="submit" value="送信"/></br>
            </form>
        </p>
    </div>
    <div>
        <h3>UserDel</h3>
        <p>
        <form action="/userdel" method="post">
            <input type="text" name="userlist" placeholder="username"/></br>
            <input type="submit" value="送信"/></br>
        </form>
        </p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(function () {
            $('#checkbox').click(function () {
                var isChecked = $('#checkbox').prop('checked');
                if (isChecked) {
                    call_method = '/authadd'
                } else {
                    call_method = '/authdell'
                }
                console.log(call_method)
                // $.ajax( call_method,
                //         {
                //             type: 'post',
                //             data: {username: 'katsukamaru'},
                //             dataType: 'json'
                //         }
                // ).done(function (data) {
                //     window.alert('OK');
                // });
            });
        });
    </script>
</body>
</html>